<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center;background-color:orange;font-size:25px;padding:0.7%">
        <b style="color:white;vertical-align:middle;">سلامت یار</b>
    </div>
    <div>
        <pre style="font-size:15px;text-align:right">
             <span>Family</span>  با سلام کاربر گرامی     
                     به سایت سلامت یار خوش آمدید      
             برای تکمیل فرایند ثبت نام خود برروی <a href="@ViewBag.ConfirmationLink">اینجا</a> کلیک نمایید  
        </pre>
    </div>
</body>
</html>
